<nav id="sidebar-icon-links">

    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="github.com/claude9493">
      {% include svg/github.svg %}
    </a>

	<a id="wechat-link"
       class="icon" title="Wechat" aria-label="Wechat"
       href="https://user-images.githubusercontent.com/10907166/49275777-5cec9080-f4b7-11e8-8c9e-cff3e76a7fa0.png" width="300px"">
      {% include svg/wechat.svg %}
    </a>

	<a id="mail-link"
       class="icon" title="Mail" aria-label="Mail"
       href="mailto:claude9493@gmail.com">
      {% include svg/mail.svg %}
    </a>

	<a id="NetEaseMusic-link"
       class="icon" title="NetEase Music" aria-label="NetEase Music"
       href="http://music.163.com/#/user/home?id=49424453">
      {% include svg/NetEasemusic.svg %}
    </a>

  {% include custom-icon-links.html %}
</nav>
